@font-face {
    font-family: valor;
    src: url('../fonts/Valorant\ Font.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

body {
    background-color: #1a1a1a;
}

.background{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 100vw;
}

.background img{
    width: 100%;
}

header {
    background-color: rgba(26, 26, 26, 0.9);
    height: 15vh;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: valor, sans-serif;
    margin: 3% auto 1% 5%;
    font-size: 3rem;
}

.home-section-1{
    height: 177vw; /* Proporção referente a imagem de background*/
    width: 100%;
}

.home-section-2{
    height: 177vw; /* Proporção referente a imagem de background*/
    width: 100%;
}

.home-section-3{
    width: 100%;
}

.home-section-3 div{
    width: 90%;
}


.home-section-3 h3{
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    color: #FDD700;
}

.home-section-1 h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 11vw;
    line-height: 50px;
    margin: 1.5% 0;
    width: 80%;
}

.home-section-1 p{
    font-family: 'Roboto', sans-serif;
    font-size: 4.7vw;
    margin: 1.5% 0;
    width: 80%;
}

.square{
    width: 75vw;
    height: 75vw;
    padding: 20px;
    background: #323030;
    border-radius: 8px;
}

.square h3{
    font-family: valor, sans-serif;
    font-size: 10vw;
    text-align: center;
}

.square p{
    font-family: Roboto;
    font-size: 5vw;
    text-align: center;
}

.square button{
    width: 90%;
    height: 15%;
    border: none;
    background: #1a1a1a;
    box-shadow: 0px 1.92354px 2.74791px rgba(30, 30, 30, 0.76), 0px 4.86478px 6.94968px rgba(30, 30, 30, 0.524386), 0px 9.92369px 14.1767px rgba(30, 30, 30, 0.422781), 0px 20.4409px 29.2013px rgba(30, 30, 30, 0.337219), 0px 56px 80px rgba(30, 30, 30, 0.235614);
    border-radius: 4px;
}

Footer {
    bottom: 0;
    background-color: gray;
    position: fixed;
    width: 100%;
    text-align: center;
}

.svg-eye{
    width: 9.5vw;
    height: 8vw;
}

.svg-bar{
    width: 81%;
    height: 10%;
}

.svg-attention{
    width: 10%;
    height: 10%;
    margin-right: 10px;
}