body {
    background-image: url('../img/mobilebg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(26, 26, 26);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    padding-left: 0px;
}

nav ul li {
    display: inline-block;
    padding: 10px 10px;
    font-weight: 700;
}

h1 {
    margin: 5px;
    color: white;
    font-size: 1.5em;
}


Footer {
    bottom: 0;
    background-color: gray;
    position: fixed;
    width: 100%;
    text-align: center;
}