@font-face {
    font-family: valor;
    src: url('../fonts/Valorant\ Font.ttf');
}

body {
    background-image: url('../img/mobilebg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: rgba(26, 26, 26, 0.9);
    height: 10vh;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: valor, sans-serif;
    margin: 3% auto 1% 5%;
    font-size: auto;
}


Footer {
    bottom: 0;
    background-color: gray;
    position: fixed;
    width: 100%;
    text-align: center;
}